.button {
    display: inline-block;

    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    border: none;
    font-size: 14px;
    transition: all .3s ease-in-out;
}

.primary {
    color: var(--white);
    background-color: var(--primary);
}

.primary:hover {
    background-color: var(--primary-hover);
}

.ghost {
    color: var(--black);
    background-color: var(--white);
    border: 1px solid var(--gray-light);
}

.ghost:hover {
    background-color: var(--primary);
    color: var(--white);
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

.down {
    transform: rotate(90deg);
    transition: all .2s ease-in-out;
}

.primary svg,
.ghost:hover svg {
    fill: var(--white)
}